In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/Users/jhajhajhajha1/Desktop/Hanyang Data/data_playaround.csv')

In [5]:
data = dataset.iloc[:, 0:19]

In [6]:
print(len(data))
data.head()

46858

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,house_lat,house_lon,work_lat,work_lon,H_ZONE,H_ZONE_X,H_ZONE_Y,W_ZONE_X,W_ZONE_Y,0
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,37.453952,126.716877,36.115620,126.792747,810.0,175000.0,439000.0,0.0,0.0,0.0
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.465845,126.717234,37.335447,126.677584,855.0,175000.0,441000.0,0.0,0.0,0.0
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,37.229621,127.284122,36.975082,127.436894,363.0,225000.0,415000.0,0.0,0.0,0.0
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,37.623500,127.083187,36.847868,127.414170,1181.0,207000.0,457000.0,0.0,0.0,0.0
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.469676,126.644354,37.967527,124.717824,852.0,169000.0,441000.0,0.0,0.0,0.0

In [7]:
# preprocessing

# not calculating distance, simply using latitude
x = data.iloc[:, 0:12]
x = x.drop(["house_lat", "house_lon"], axis= 1)
x.head()

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,work_lat
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,36.115620
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.335447
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,36.975082
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,36.847868
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.967527

In [8]:
x.isnull().sum()

W_ZONE          0
no_hh         180
no_hh_chil    180
hh_type       180
hh_income     180
no_car        180
age           180
sex           180
job_type      180
work_lat      180
dtype: int64

In [9]:
# # Taking care of missing data
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
# imputer = imputer.fit(x.iloc[:, 1:10])
# x.iloc[:, 1:10] = imputer.transform(x.iloc[:, 1:10])
x = x.dropna()

In [10]:
x.isnull().sum()

W_ZONE        0
no_hh         0
no_hh_chil    0
hh_type       0
hh_income     0
no_car        0
age           0
sex           0
job_type      0
work_lat      0
dtype: int64

In [11]:
# category values: hh_type, hh_income (this one is fine because of the levels)
# Encoding categorical data

In [12]:
y = data.loc[:, ["house_lat", "house_lon"]]
y.head()

   house_lat   house_lon
0  37.453952  126.716877
1  37.465845  126.717234
2  37.229621  127.284122
3  37.623500  127.083187
4  37.469676  126.644354

In [13]:
y.isnull().sum()

house_lat    180
house_lon    180
dtype: int64

In [14]:
# # Taking care of missing data
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
# imputer = imputer.fit(y)
# y = imputer.transform(y)
y = y.dropna()

In [15]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [16]:
# should we do feature scaling?
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
len(X_train[0])

10

In [18]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

Using TensorFlow backend.
/usr/local/Cellar/python/3.6.5_1/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [19]:
# Initialising the ANN
regressor = Sequential()

# Adding the input layer and the first hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'normal', activation = 'relu', input_dim = 10))
regressor.add(Dropout(0.2))

# Adding the second hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'normal', activation = 'relu'))
regressor.add(Dropout(0.2))


# Adding the third hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'normal', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the fourth hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'normal', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the fifth hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'normal', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units = 2, kernel_initializer = 'normal', activation = 'linear'))
regressor.add(Dropout(0.2))


# Compiling the ANN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['mae'])

In [20]:
regressor.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
37486/37486 [==============================] - 6s 147us/step - loss: 3743.6627 - mean_absolute_error: 45.5648
Epoch 2/100
37486/37486 [==============================] - 5s 132us/step - loss: 2645.2136 - mean_absolute_error: 35.4032
Epoch 3/100
37486/37486 [==============================] - 5s 131us/step - loss: 2405.9217 - mean_absolute_error: 32.5690
Epoch 4/100
37486/37486 [==============================] - 5s 135us/step - loss: 2280.5056 - mean_absolute_error: 30.8616
Epoch 5/100
37486/37486 [==============================] - 5s 139us/step - loss: 2210.6362 - mean_absolute_error: 29.5847
Epoch 6/100
37486/37486 [==============================] - 5s 137us/step - loss: 2167.9192 - mean_absolute_error: 28.7936 1s - loss: 2160.8295 - mea
Epoch 7/100
37486/37486 [==============================] - 5s 143us/step - loss: 2119.2004 - mean_absolute_error: 28.1747
Epoch 8/100
37486/37486 [==============================] - 5s 140us/step - loss: 2093.0110 - mean_absolute_error: 27.6769
Epoch 9/100
37486/37486 [==============================] - 5s 134us/step - loss: 2071.5247 - mean_absolute_error: 27.0958
Epoch 10/100
37486/37486 [==============================] - 5s 140us/step - loss: 2057.2171 - mean_absolute_error: 26.6485
Epoch 11/100
37486/37486 [==============================] - 5s 132us/step - loss: 2008.8309 - mean_absolute_error: 25.9249
Epoch 12/100
37486/37486 [==============================] - 5s 133us/step - loss: 2025.2767 - mean_absolute_error: 25.6446
Epoch 13/100
37486/37486 [==============================] - 5s 132us/step - loss: 1976.8343 - mean_absolute_error: 24.9954
Epoch 14/100
37486/37486 [==============================] - 5s 132us/step - loss: 1981.0956 - mean_absolute_error: 24.6844
Epoch 15/100
37486/37486 [==============================] - 5s 133us/step - loss: 1962.5899 - mean_absolute_error: 24.3741
Epoch 16/100
37486/37486 [==============================] - 5s 136us/step - loss: 1945.0988 - mean_absolute_error: 24.0082
Epoch 17/100
37486/37486 [==============================] - 5s 132us/step - loss: 1950.1753 - mean_absolute_error: 23.8435
Epoch 18/100
37486/37486 [==============================] - 5s 133us/step - loss: 1957.9375 - mean_absolute_error: 23.7261
Epoch 19/100
37486/37486 [==============================] - 5s 134us/step - loss: 1900.1939 - mean_absolute_error: 23.1869
Epoch 20/100
37486/37486 [==============================] - 5s 132us/step - loss: 1892.6012 - mean_absolute_error: 22.9211
Epoch 21/100
37486/37486 [==============================] - 5s 139us/step - loss: 1885.7225 - mean_absolute_error: 22.7078
Epoch 22/100
37486/37486 [==============================] - 6s 149us/step - loss: 1869.8087 - mean_absolute_error: 22.4017
Epoch 23/100
37486/37486 [==============================] - 6s 170us/step - loss: 1893.6292 - mean_absolute_error: 22.4055
Epoch 24/100
37486/37486 [==============================] - 6s 155us/step - loss: 1866.6043 - mean_absolute_error: 21.9698
Epoch 25/100
37486/37486 [==============================] - 5s 136us/step - loss: 1856.4042 - mean_absolute_error: 21.6946
Epoch 26/100
37486/37486 [==============================] - 5s 137us/step - loss: 1821.8431 - mean_absolute_error: 21.3281
Epoch 27/100
37486/37486 [==============================] - 5s 146us/step - loss: 1806.3283 - mean_absolute_error: 20.9947
Epoch 28/100
37486/37486 [==============================] - 6s 154us/step - loss: 1844.0705 - mean_absolute_error: 21.0449
Epoch 29/100
37486/37486 [==============================] - 6s 161us/step - loss: 1828.5148 - mean_absolute_error: 20.6906
Epoch 30/100
37486/37486 [==============================] - 5s 136us/step - loss: 1833.4019 - mean_absolute_error: 20.4970
Epoch 31/100
37486/37486 [==============================] - 5s 139us/step - loss: 1784.2073 - mean_absolute_error: 19.9333
Epoch 32/100
37486/37486 [==============================] - 5s 134us/step - loss: 1803.0320 - mean_absolute_error: 19.8910
Epoch 33/100
37486/37486 [==============================] - 5s 133us/step - loss: 1795.6406 - mean_absolute_error: 19.5970
Epoch 34/100
37486/37486 [==============================] - 6s 151us/step - loss: 1789.7240 - mean_absolute_error: 19.2950
Epoch 35/100
37486/37486 [==============================] - 6s 153us/step - loss: 1795.7494 - mean_absolute_error: 19.1662
Epoch 36/100
37486/37486 [==============================] - 5s 138us/step - loss: 1767.0529 - mean_absolute_error: 18.6885
Epoch 37/100
37486/37486 [==============================] - 6s 152us/step - loss: 1778.9862 - mean_absolute_error: 18.5511
Epoch 38/100
37486/37486 [==============================] - 5s 136us/step - loss: 1753.0503 - mean_absolute_error: 18.1049
Epoch 39/100
37486/37486 [==============================] - 6s 148us/step - loss: 1733.2949 - mean_absolute_error: 17.6981
Epoch 40/100
37486/37486 [==============================] - 5s 145us/step - loss: 1767.3918 - mean_absolute_error: 17.6934
Epoch 41/100
37486/37486 [==============================] - 6s 161us/step - loss: 1740.0563 - mean_absolute_error: 17.2933
Epoch 42/100
37486/37486 [==============================] - 5s 128us/step - loss: 1730.1994 - mean_absolute_error: 16.9538
Epoch 43/100
37486/37486 [==============================] - 5s 128us/step - loss: 1738.8222 - mean_absolute_error: 16.8115
Epoch 44/100
37486/37486 [==============================] - 5s 129us/step - loss: 1745.3334 - mean_absolute_error: 16.6806
Epoch 45/100
37486/37486 [==============================] - 5s 140us/step - loss: 1715.1786 - mean_absolute_error: 16.3134
Epoch 46/100
37486/37486 [==============================] - 5s 139us/step - loss: 1741.5078 - mean_absolute_error: 16.4058
Epoch 47/100
37486/37486 [==============================] - 5s 137us/step - loss: 1758.9548 - mean_absolute_error: 16.5884
Epoch 48/100
37486/37486 [==============================] - 6s 149us/step - loss: 1753.8935 - mean_absolute_error: 16.5714
Epoch 49/100
37486/37486 [==============================] - 5s 139us/step - loss: 1758.8302 - mean_absolute_error: 16.6097
Epoch 50/100
37486/37486 [==============================] - 5s 142us/step - loss: 1764.5555 - mean_absolute_error: 16.6328 1s - loss: 1773.5709 - mean_
Epoch 51/100
37486/37486 [==============================] - 5s 137us/step - loss: 1757.0288 - mean_absolute_error: 16.5688
Epoch 52/100
37486/37486 [==============================] - 5s 141us/step - loss: 1773.7983 - mean_absolute_error: 16.7264
Epoch 53/100
37486/37486 [==============================] - 5s 136us/step - loss: 1708.4696 - mean_absolute_error: 16.2026
Epoch 54/100
37486/37486 [==============================] - 5s 134us/step - loss: 1737.5097 - mean_absolute_error: 16.4542
Epoch 55/100
37486/37486 [==============================] - 5s 144us/step - loss: 1720.1424 - mean_absolute_error: 16.2911
Epoch 56/100
37486/37486 [==============================] - 5s 137us/step - loss: 1744.3976 - mean_absolute_error: 16.4599
Epoch 57/100
37486/37486 [==============================] - 5s 140us/step - loss: 1760.3966 - mean_absolute_error: 16.5220
Epoch 58/100
37486/37486 [==============================] - 5s 140us/step - loss: 1730.2740 - mean_absolute_error: 16.3476
Epoch 59/100
37486/37486 [==============================] - 5s 141us/step - loss: 1769.0137 - mean_absolute_error: 16.6859
Epoch 60/100
37486/37486 [==============================] - 5s 140us/step - loss: 1768.6291 - mean_absolute_error: 16.6380
Epoch 61/100
37486/37486 [==============================] - 5s 143us/step - loss: 1739.0906 - mean_absolute_error: 16.4139
Epoch 62/100
37486/37486 [==============================] - 6s 148us/step - loss: 1733.8048 - mean_absolute_error: 16.4349
Epoch 63/100
37486/37486 [==============================] - 5s 139us/step - loss: 1744.4865 - mean_absolute_error: 16.5332
Epoch 64/100
37486/37486 [==============================] - 5s 133us/step - loss: 1761.0266 - mean_absolute_error: 16.6116
Epoch 65/100
37486/37486 [==============================] - 5s 138us/step - loss: 1740.5122 - mean_absolute_error: 16.4656
Epoch 66/100
37486/37486 [==============================] - 5s 141us/step - loss: 1734.5431 - mean_absolute_error: 16.3654
Epoch 67/100

37486/37486 [==============================] - 5s 135us/step - loss: 1760.3345 - mean_absolute_error: 16.5814
Epoch 68/100
37486/37486 [==============================] - 5s 137us/step - loss: 1773.2404 - mean_absolute_error: 16.7400
Epoch 69/100
37486/37486 [==============================] - 5s 133us/step - loss: 1746.0665 - mean_absolute_error: 16.4830
Epoch 70/100
37486/37486 [==============================] - 5s 134us/step - loss: 1746.6342 - mean_absolute_error: 16.5274
Epoch 71/100
37486/37486 [==============================] - 5s 130us/step - loss: 1776.8945 - mean_absolute_error: 16.7115
Epoch 72/100
37486/37486 [==============================] - 5s 130us/step - loss: 1752.0665 - mean_absolute_error: 16.5548
Epoch 73/100
37486/37486 [==============================] - 5s 130us/step - loss: 1762.5551 - mean_absolute_error: 16.6089
Epoch 74/100
37486/37486 [==============================] - 5s 130us/step - loss: 1760.7370 - mean_absolute_error: 16.6283
Epoch 75/100
37486/37486 [==============================] - 5s 129us/step - loss: 1743.7398 - mean_absolute_error: 16.4667
Epoch 76/100
37486/37486 [==============================] - 5s 131us/step - loss: 1759.6903 - mean_absolute_error: 16.5917
Epoch 77/100
37486/37486 [==============================] - 5s 135us/step - loss: 1735.4125 - mean_absolute_error: 16.4013
Epoch 78/100
37486/37486 [==============================] - 5s 129us/step - loss: 1735.0617 - mean_absolute_error: 16.3710
Epoch 79/100
37486/37486 [==============================] - 5s 130us/step - loss: 1723.6159 - mean_absolute_error: 16.3483
Epoch 80/100
37486/37486 [==============================] - 5s 130us/step - loss: 1775.3746 - mean_absolute_error: 16.7354
Epoch 81/100
37486/37486 [==============================] - 5s 131us/step - loss: 1755.3832 - mean_absolute_error: 16.5235
Epoch 82/100
37486/37486 [==============================] - 5s 137us/step - loss: 1747.8322 - mean_absolute_error: 16.5220
Epoch 83/100
37486/37486 [==============================] - 5s 141us/step - loss: 1736.1286 - mean_absolute_error: 16.4407
Epoch 84/100
37486/37486 [==============================] - 5s 141us/step - loss: 1769.2327 - mean_absolute_error: 16.6486
Epoch 85/100
37486/37486 [==============================] - 5s 134us/step - loss: 1773.7320 - mean_absolute_error: 16.7607
Epoch 86/100
37486/37486 [==============================] - 5s 142us/step - loss: 1742.5187 - mean_absolute_error: 16.4320
Epoch 87/100
37486/37486 [==============================] - 5s 138us/step - loss: 1718.5826 - mean_absolute_error: 16.2403
Epoch 88/100
37486/37486 [==============================] - 5s 139us/step - loss: 1730.9611 - mean_absolute_error: 16.4073
Epoch 89/100
37486/37486 [==============================] - 5s 137us/step - loss: 1765.1539 - mean_absolute_error: 16.6394
Epoch 90/100
37486/37486 [==============================] - 5s 139us/step - loss: 1743.2033 - mean_absolute_error: 16.5196 1s - loss: 1730.244
Epoch 91/100
37486/37486 [==============================] - 5s 132us/step - loss: 1749.2809 - mean_absolute_error: 16.5343
Epoch 92/100
37486/37486 [==============================] - 5s 136us/step - loss: 1805.6100 - mean_absolute_error: 16.9720
Epoch 93/100
37486/37486 [==============================] - 5s 131us/step - loss: 1768.1708 - mean_absolute_error: 16.6653
Epoch 94/100
37486/37486 [==============================] - 5s 142us/step - loss: 1719.5294 - mean_absolute_error: 16.3143
Epoch 95/100
37486/37486 [==============================] - 5s 140us/step - loss: 1757.3034 - mean_absolute_error: 16.5691
Epoch 96/100
37486/37486 [==============================] - 5s 143us/step - loss: 1762.2309 - mean_absolute_error: 16.6216
Epoch 97/100
37486/37486 [==============================] - 5s 138us/step - loss: 1763.3059 - mean_absolute_error: 16.6073
Epoch 98/100
37486/37486 [==============================] - 5s 136us/step - loss: 1766.0739 - mean_absolute_error: 16.6635
Epoch 99/100
37486/37486 [==============================] - 5s 135us/step - loss: 1771.3294 - mean_absolute_error: 16.7182
Epoch 100/100
37486/37486 [==============================] - 5s 136us/step - loss: 1757.5798 - mean_absolute_error: 16.5381

In [21]:
y_pred = regressor.predict(X_test)
y_pred

array([[ 30.084072, 101.57494 ],
       [ 30.026201, 101.57432 ],
       [ 29.903147, 101.59082 ],
       ...,
       [ 29.927021, 101.5806  ],
       [ 30.0151  , 101.572876],
       [ 30.012688, 101.57256 ]], dtype=float32)

In [22]:
prediction = pd.DataFrame({'house_lat': y_test[:, 0],'house_lon':y_test[:, 1],
                            'house_lat (pred)': y_pred[:,0], 'house_lon (pred)': y_pred[:,1]})

In [29]:
prediction.loc[1][0]

def accuracy(pred):
    sum_error = 0
    for i in range(len(pred)):
        deltax = pred.loc[i][0]-pred.loc[i][2]
        deltay = pred.loc[i][1]-pred.loc[i][3]
        error =

37.641428000000005

In [33]:
len(prediction)

9372