In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/Users/jhajhajhajha1/Desktop/Hanyang Data/data_playaround.csv')

In [13]:
data = dataset.iloc[:, 0:19]

In [15]:
print(len(data))
data.head()

46858

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,house_lat,house_lon,work_lat,work_lon,H_ZONE,H_ZONE_X,H_ZONE_Y,W_ZONE_X,W_ZONE_Y,0
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,37.453952,126.716877,36.115620,126.792747,810.0,175000.0,439000.0,0.0,0.0,0.0
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.465845,126.717234,37.335447,126.677584,855.0,175000.0,441000.0,0.0,0.0,0.0
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,37.229621,127.284122,36.975082,127.436894,363.0,225000.0,415000.0,0.0,0.0,0.0
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,37.623500,127.083187,36.847868,127.414170,1181.0,207000.0,457000.0,0.0,0.0,0.0
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.469676,126.644354,37.967527,124.717824,852.0,169000.0,441000.0,0.0,0.0,0.0

In [27]:
# preprocessing

# not calculating distance, simply using latitude
x = data.iloc[:, 0:12]
x = x.drop(["house_lat", "house_lon"], axis= 1)
x.head()

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,work_lat
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,36.115620
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.335447
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,36.975082
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,36.847868
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.967527

In [35]:
x.isnull().sum()

W_ZONE          0
no_hh         180
no_hh_chil    180
hh_type         0
hh_income     180
no_car        180
age           180
sex           180
job_type      180
work_lat      180
dtype: int64

In [41]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(x.iloc[:, 1:10])
x.iloc[:, 1:10] = imputer.transform(x.iloc[:, 1:10])

In [42]:
x.isnull().sum()

W_ZONE        0
no_hh         0
no_hh_chil    0
hh_type       0
hh_income     0
no_car        0
age           0
sex           0
job_type      0
work_lat      0
dtype: int64

In [29]:
# category values: hh_type, hh_income (this one is fine because of the levels)
# Encoding categorical data

In [22]:
y = data.loc[:, ["house_lat", "house_lon"]]
y.head()

   house_lat   house_lon
0  37.453952  126.716877
1  37.465845  126.717234
2  37.229621  127.284122
3  37.623500  127.083187
4  37.469676  126.644354

In [43]:
y.isnull().sum()

house_lat    180
house_lon    180
dtype: int64

In [44]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(y)
y = imputer.transform(y)

In [45]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [46]:
# should we do feature scaling?
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [57]:
len(X_train[0])

10

In [67]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [68]:
# Initialising the ANN
regressor = Sequential()

# Adding the input layer and the first hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))
regressor.add(Dropout(0.2))

# Adding the second hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))


# Adding the third hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the fourth hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the fifth hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units = 2, kernel_initializer = 'uniform', activation = 'linear'))
regressor.add(Dropout(0.2))


# Compiling the ANN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['mae'])

In [ ]:
regressor.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
37486/37486 [==============================] - 6s 156us/step - loss: 3079.0641 - mean_absolute_error: 38.9370
Epoch 2/100
37486/37486 [==============================] - 5s 138us/step - loss: 2183.3704 - mean_absolute_error: 29.4813
Epoch 3/100
37486/37486 [==============================] - 5s 139us/step - loss: 2113.8292 - mean_absolute_error: 28.0879
Epoch 4/100
37486/37486 [==============================] - 5s 138us/step - loss: 2062.3820 - mean_absolute_error: 26.9741
Epoch 5/100
37486/37486 [==============================] - 6s 149us/step - loss: 2042.9172 - mean_absolute_error: 26.1474
Epoch 6/100
37486/37486 [==============================] - 6s 157us/step - loss: 1974.7129 - mean_absolute_error: 25.0888
Epoch 7/100
37486/37486 [==============================] - 5s 142us/step - loss: 1953.4822 - mean_absolute_error: 24.3735
Epoch 8/100
37486/37486 [==============================] - 5s 140us/step - loss: 1920.7610 - mean_absolute_error: 23.8699
Epoch 9/100
37486/37486 [==============================] - 5s 141us/step - loss: 1948.4027 - mean_absolute_error: 23.7783
Epoch 10/100
37486/37486 [==============================] - 5s 138us/step - loss: 1927.4319 - mean_absolute_error: 23.5600
Epoch 11/100
37486/37486 [==============================] - 5s 139us/step - loss: 1937.9381 - mean_absolute_error: 23.3781
Epoch 12/100
37486/37486 [==============================] - 5s 140us/step - loss: 1927.6534 - mean_absolute_error: 23.0921
Epoch 13/100
37486/37486 [==============================] - 5s 139us/step - loss: 1926.0867 - mean_absolute_error: 22.8473
Epoch 14/100
37486/37486 [==============================] - 5s 145us/step - loss: 1874.0160 - mean_absolute_error: 22.3034
Epoch 15/100
37486/37486 [==============================] - 5s 146us/step - loss: 1908.0757 - mean_absolute_error: 22.3433
Epoch 16/100
37486/37486 [==============================] - 5s 140us/step - loss: 1885.3570 - mean_absolute_error: 21.9708
Epoch 17/100
37486/37486 [==============================] - 6s 153us/step - loss: 1854.3314 - mean_absolute_error: 21.5329
Epoch 18/100
37486/37486 [==============================] - 6s 159us/step - loss: 1863.2434 - mean_absolute_error: 21.4319
Epoch 19/100
37486/37486 [==============================] - 6s 158us/step - loss: 1879.0141 - mean_absolute_error: 21.5597
Epoch 20/100
37486/37486 [==============================] - 6s 154us/step - loss: 1869.0198 - mean_absolute_error: 21.3581
Epoch 21/100
37486/37486 [==============================] - 6s 148us/step - loss: 1828.2211 - mean_absolute_error: 20.8978
Epoch 22/100
37486/37486 [==============================] - 5s 145us/step - loss: 1844.5120 - mean_absolute_error: 20.9785
Epoch 23/100
37486/37486 [==============================] - 6s 152us/step - loss: 1845.1729 - mean_absolute_error: 20.9161
Epoch 24/100
37486/37486 [==============================] - 5s 143us/step - loss: 1846.7086 - mean_absolute_error: 20.7792
Epoch 25/100
37486/37486 [==============================] - 5s 144us/step - loss: 1835.7895 - mean_absolute_error: 20.5939
Epoch 26/100
37486/37486 [==============================] - 5s 144us/step - loss: 1823.3510 - mean_absolute_error: 20.4005
Epoch 27/100
37486/37486 [==============================] - 5s 140us/step - loss: 1830.2588 - mean_absolute_error: 20.4608
Epoch 28/100
37486/37486 [==============================] - 5s 146us/step - loss: 1809.0793 - mean_absolute_error: 20.1508
Epoch 29/100
37486/37486 [==============================] - 6s 157us/step - loss: 1827.7433 - mean_absolute_error: 20.2019
Epoch 30/100
37486/37486 [==============================] - 7s 194us/step - loss: 1808.4774 - mean_absolute_error: 19.9520
Epoch 31/100
37486/37486 [==============================] - 7s 184us/step - loss: 1824.3542 - mean_absolute_error: 19.9610 2s - loss: 1846.0344 - mean_abso - ETA: 1s - loss: 1838.1409 - mean_abs
Epoch 32/100
37486/37486 [==============================] - 6s 149us/step - loss: 1763.3506 - mean_absolute_error: 19.3479
Epoch 33/100
37486/37486 [==============================] - 6s 149us/step - loss: 1792.6578 - mean_absolute_error: 19.4869
Epoch 34/100
37486/37486 [==============================] - 6s 153us/step - loss: 1816.8234 - mean_absolute_error: 19.5897
Epoch 35/100
37486/37486 [==============================] - 6s 163us/step - loss: 1778.4894 - mean_absolute_error: 19.2062
Epoch 36/100
37486/37486 [==============================] - 6s 173us/step - loss: 1786.7636 - mean_absolute_error: 19.0856
Epoch 37/100
37486/37486 [==============================] - 6s 160us/step - loss: 1804.6927 - mean_absolute_error: 19.2055
Epoch 38/100
37486/37486 [==============================] - 6s 154us/step - loss: 1759.8751 - mean_absolute_error: 18.7033
Epoch 39/100
37486/37486 [==============================] - 6s 152us/step - loss: 1775.3028 - mean_absolute_error: 18.7141
Epoch 40/100
37486/37486 [==============================] - 6s 148us/step - loss: 1763.5666 - mean_absolute_error: 18.4997
Epoch 41/100
37486/37486 [==============================] - 5s 146us/step - loss: 1773.7944 - mean_absolute_error: 18.4417
Epoch 42/100
37486/37486 [==============================] - 6s 149us/step - loss: 1806.5200 - mean_absolute_error: 18.6317
Epoch 43/100
37486/37486 [==============================] - 6s 156us/step - loss: 1747.2582 - mean_absolute_error: 18.0655
Epoch 44/100
37486/37486 [==============================] - 5s 145us/step - loss: 1736.0630 - mean_absolute_error: 17.8632
Epoch 45/100
37486/37486 [==============================] - 6s 150us/step - loss: 1754.1688 - mean_absolute_error: 17.8948
Epoch 46/100
37486/37486 [==============================] - 6s 171us/step - loss: 1772.5190 - mean_absolute_error: 17.8974
Epoch 47/100
37486/37486 [==============================] - 6s 157us/step - loss: 1762.4126 - mean_absolute_error: 17.6964
Epoch 48/100
37486/37486 [==============================] - 6s 149us/step - loss: 1751.1622 - mean_absolute_error: 17.5214
Epoch 49/100
37486/37486 [==============================] - 6s 148us/step - loss: 1749.5618 - mean_absolute_error: 17.3702
Epoch 50/100
37486/37486 [==============================] - 6s 147us/step - loss: 1731.0326 - mean_absolute_error: 17.1077
Epoch 51/100
37486/37486 [==============================] - 6s 148us/step - loss: 1770.0614 - mean_absolute_error: 17.2778
Epoch 52/100
37486/37486 [==============================] - 5s 144us/step - loss: 1745.2758 - mean_absolute_error: 16.9897
Epoch 53/100
37486/37486 [==============================] - 6s 147us/step - loss: 1760.5750 - mean_absolute_error: 16.9496
Epoch 54/100
37486/37486 [==============================] - 6s 147us/step - loss: 1764.1152 - mean_absolute_error: 16.8882
Epoch 55/100
37486/37486 [==============================] - 5s 146us/step - loss: 1740.8636 - mean_absolute_error: 16.5690
Epoch 56/100
37486/37486 [==============================] - 6s 147us/step - loss: 1751.7996 - mean_absolute_error: 16.6243
Epoch 57/100
37486/37486 [==============================] - 6s 157us/step - loss: 1732.9267 - mean_absolute_error: 16.3946
Epoch 58/100
37486/37486 [==============================] - 5s 142us/step - loss: 1747.3765 - mean_absolute_error: 16.5482
Epoch 59/100
 3190/37486 [=>............................] - ETA: 4s - loss: 1793.2250 - mean_absolute_error: 16.6866