In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/Users/jhajhajhajha1/Desktop/Hanyang Data/data_playaround.csv')

In [13]:
data = dataset.iloc[:, 0:19]

In [15]:
print(len(data))
data.head()

46858

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,house_lat,house_lon,work_lat,work_lon,H_ZONE,H_ZONE_X,H_ZONE_Y,W_ZONE_X,W_ZONE_Y,0
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,37.453952,126.716877,36.115620,126.792747,810.0,175000.0,439000.0,0.0,0.0,0.0
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.465845,126.717234,37.335447,126.677584,855.0,175000.0,441000.0,0.0,0.0,0.0
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,37.229621,127.284122,36.975082,127.436894,363.0,225000.0,415000.0,0.0,0.0,0.0
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,37.623500,127.083187,36.847868,127.414170,1181.0,207000.0,457000.0,0.0,0.0,0.0
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.469676,126.644354,37.967527,124.717824,852.0,169000.0,441000.0,0.0,0.0,0.0