In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/Users/jhajhajhajha1/Desktop/Hanyang Data/data_playaround.csv')

In [13]:
data = dataset.iloc[:, 0:19]

In [15]:
print(len(data))
data.head()

46858

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,house_lat,house_lon,work_lat,work_lon,H_ZONE,H_ZONE_X,H_ZONE_Y,W_ZONE_X,W_ZONE_Y,0
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,37.453952,126.716877,36.115620,126.792747,810.0,175000.0,439000.0,0.0,0.0,0.0
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.465845,126.717234,37.335447,126.677584,855.0,175000.0,441000.0,0.0,0.0,0.0
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,37.229621,127.284122,36.975082,127.436894,363.0,225000.0,415000.0,0.0,0.0,0.0
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,37.623500,127.083187,36.847868,127.414170,1181.0,207000.0,457000.0,0.0,0.0,0.0
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.469676,126.644354,37.967527,124.717824,852.0,169000.0,441000.0,0.0,0.0,0.0

In [27]:
# preprocessing

# not calculating distance, simply using latitude
x = data.iloc[:, 0:12]
x = x.drop(["house_lat", "house_lon"], axis= 1)
x.head()

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,work_lat
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,36.115620
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.335447
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,36.975082
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,36.847868
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.967527

In [35]:
x.isnull().sum()

W_ZONE          0
no_hh         180
no_hh_chil    180
hh_type         0
hh_income     180
no_car        180
age           180
sex           180
job_type      180
work_lat      180
dtype: int64

In [41]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(x.iloc[:, 1:10])
x.iloc[:, 1:10] = imputer.transform(x.iloc[:, 1:10])

In [42]:
x.isnull().sum()

W_ZONE        0
no_hh         0
no_hh_chil    0
hh_type       0
hh_income     0
no_car        0
age           0
sex           0
job_type      0
work_lat      0
dtype: int64

In [29]:
# category values: hh_type, hh_income (this one is fine because of the levels)
# Encoding categorical data

In [22]:
y = data.loc[:, ["house_lat", "house_lon"]]
y.head()

   house_lat   house_lon
0  37.453952  126.716877
1  37.465845  126.717234
2  37.229621  127.284122
3  37.623500  127.083187
4  37.469676  126.644354

In [43]:
y.isnull().sum()

house_lat    180
house_lon    180
dtype: int64

In [44]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(y)
y = imputer.transform(y)

In [45]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [46]:
# should we do feature scaling?
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [57]:
len(X_train[0])

10

In [23]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/usr/local/Cellar/python/3.6.5_1/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [ ]:
# Initialising the ANN
regressor = Sequential()

# Adding the input layer and the first hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))
regressor.add(Dropout(0.2))

# Adding the second hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))


# Adding the output layer
regressor.add(Dense(units = 2, kernel_initializer = 'uniform', activation = 'linear'))
regressor.add(Dropout(0.2))


# Compiling the ANN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['mae'])

In [ ]:
regressor.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
37486/37486 [==============================] - 3s 92us/step - loss: 8603.9354 - mean_absolute_error: 81.2571
Epoch 2/100
37486/37486 [==============================] - 3s 83us/step - loss: 8599.5382 - mean_absolute_error: 81.2300
Epoch 3/100
37486/37486 [==============================] - 3s 85us/step - loss: 8599.5293 - mean_absolute_error: 81.2300
Epoch 4/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 5/100
37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 6/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 7/100
37486/37486 [==============================] - 4s 107us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 8/100
37486/37486 [==============================] - 4s 101us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 9/100
37486/37486 [==============================] - 4s 94us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 10/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 11/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 12/100
37486/37486 [==============================] - 3s 87us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 13/100
37486/37486 [==============================] - 3s 86us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 14/100
37486/37486 [==============================] - 3s 84us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 15/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 16/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 17/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 18/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 19/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 20/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 21/100
37486/37486 [==============================] - 4s 109us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 22/100
37486/37486 [==============================] - 3s 85us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 23/100
37486/37486 [==============================] - 3s 85us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 24/100
37486/37486 [==============================] - 3s 84us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 25/100
37486/37486 [==============================] - 4s 105us/step - loss: 8599.5290 - mean_absolute_error: 81.2300 1s - l
Epoch 26/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 27/100
37486/37486 [==============================] - 4s 113us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 28/100
37486/37486 [==============================] - 4s 111us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 29/100
37486/37486 [==============================] - 5s 122us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 30/100
37486/37486 [==============================] - 4s 98us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 31/100
37486/37486 [==============================] - 4s 97us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 32/100
37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 33/100
37486/37486 [==============================] - 3s 88us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 34/100
37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 35/100
37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 36/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 37/100
37486/37486 [==============================] - 4s 94us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 38/100
37486/37486 [==============================] - 4s 96us/step - loss: 8599.5290 - mean_absolute_error: 81.2300: 0s - loss: 8599.4885 - mean_absolute_error: 8
Epoch 39/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 40/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 41/100
37486/37486 [==============================] - 4s 102us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 42/100
37486/37486 [==============================] - 4s 93us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 43/100
37486/37486 [==============================] - 3s 88us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 44/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 45/100
37486/37486 [==============================] - 3s 93us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 46/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 47/100
37486/37486 [==============================] - 4s 93us/step - loss: 8599.5290 - mean_absolute_error: 81.2300: 1s - loss: 8599.5289 - mean_absolute - ETA: 0s - loss: 8599.5845 - mean_absolu
Epoch 48/100
37486/37486 [==============================] - 4s 102us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 49/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 50/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 51/100
37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 52/100
37486/37486 [==============================] - 3s 86us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 53/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 54/100
37486/37486 [==============================] - 3s 87us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 55/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 56/100
37486/37486 [==============================] - 3s 86us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 57/100
37486/37486 [==============================] - 4s 94us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 58/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 59/100
37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 60/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 61/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 62/100
37486/37486 [==============================] - 3s 88us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 63/100
37486/37486 [==============================] - 4s 110us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 64/100
37486/37486 [==============================] - 4s 114us/step - loss: 8599.5290 - mean_absolute_error: 81.2300 1s - loss: 8599.6031 - mean_absolute_er - ETA: 1s - loss: 8599.5311 - m
Epoch 65/100
37486/37486 [==============================] - 4s 95us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 66/100

37486/37486 [==============================] - 3s 91us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 67/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 68/100
37486/37486 [==============================] - 3s 89us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 69/100
37486/37486 [==============================] - 3s 84us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 70/100
37486/37486 [==============================] - 3s 83us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 71/100
37486/37486 [==============================] - 3s 82us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 72/100
37486/37486 [==============================] - 3s 82us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 73/100
37486/37486 [==============================] - 3s 84us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 74/100
37486/37486 [==============================] - 3s 82us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 75/100
37486/37486 [==============================] - 3s 81us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 76/100
37486/37486 [==============================] - 3s 92us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 77/100
37486/37486 [==============================] - 3s 86us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 78/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 79/100
37486/37486 [==============================] - 3s 88us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 80/100
37486/37486 [==============================] - 3s 90us/step - loss: 8599.5290 - mean_absolute_error: 81.2300: 0s - loss: 8599.4258 - mean_absolute_error:
Epoch 81/100
37486/37486 [==============================] - 3s 86us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 82/100
37486/37486 [==============================] - 4s 94us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 83/100
37486/37486 [==============================] - 4s 98us/step - loss: 8599.5290 - mean_absolute_error: 81.2300
Epoch 84/100
 1150/37486 [..............................] - ETA: 3s - loss: 8598.6436 - mean_absolute_error: 81.2277