In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/Users/jhajhajhajha1/Desktop/Hanyang Data/data_playaround.csv')

In [13]:
data = dataset.iloc[:, 0:19]

In [15]:
print(len(data))
data.head()

46858

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,house_lat,house_lon,work_lat,work_lon,H_ZONE,H_ZONE_X,H_ZONE_Y,W_ZONE_X,W_ZONE_Y,0
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,37.453952,126.716877,36.115620,126.792747,810.0,175000.0,439000.0,0.0,0.0,0.0
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.465845,126.717234,37.335447,126.677584,855.0,175000.0,441000.0,0.0,0.0,0.0
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,37.229621,127.284122,36.975082,127.436894,363.0,225000.0,415000.0,0.0,0.0,0.0
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,37.623500,127.083187,36.847868,127.414170,1181.0,207000.0,457000.0,0.0,0.0,0.0
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.469676,126.644354,37.967527,124.717824,852.0,169000.0,441000.0,0.0,0.0,0.0

In [27]:
# preprocessing

# not calculating distance, simply using latitude
x = data.iloc[:, 0:12]
x = x.drop(["house_lat", "house_lon"], axis= 1)
x.head()

,W_ZONE,no_hh,no_hh_chil,hh_type,hh_income,no_car,age,sex,job_type,work_lat
0,0,4.0,4.0,1.0,5.0,1.0,41.0,1.0,4.0,36.115620
1,0,3.0,3.0,2.0,3.0,1.0,36.0,1.0,4.0,37.335447
2,0,3.0,3.0,2.0,2.0,1.0,70.0,1.0,9.0,36.975082
3,0,5.0,4.0,1.0,5.0,1.0,32.0,1.0,4.0,36.847868
4,0,2.0,2.0,4.0,3.0,1.0,55.0,1.0,4.0,37.967527

In [35]:
x.isnull().sum()

W_ZONE          0
no_hh         180
no_hh_chil    180
hh_type         0
hh_income     180
no_car        180
age           180
sex           180
job_type      180
work_lat      180
dtype: int64

In [41]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(x.iloc[:, 1:10])
x.iloc[:, 1:10] = imputer.transform(x.iloc[:, 1:10])

In [42]:
x.isnull().sum()

W_ZONE        0
no_hh         0
no_hh_chil    0
hh_type       0
hh_income     0
no_car        0
age           0
sex           0
job_type      0
work_lat      0
dtype: int64

In [29]:
# category values: hh_type, hh_income (this one is fine because of the levels)
# Encoding categorical data

In [22]:
y = data.loc[:, ["house_lat", "house_lon"]]
y.head()

   house_lat   house_lon
0  37.453952  126.716877
1  37.465845  126.717234
2  37.229621  127.284122
3  37.623500  127.083187
4  37.469676  126.644354

In [43]:
y.isnull().sum()

house_lat    180
house_lon    180
dtype: int64

In [44]:
# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(y)
y = imputer.transform(y)

In [45]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [46]:
# should we do feature scaling?
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [57]:
len(X_train[0])

10

In [67]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [68]:
# Initialising the ANN
regressor = Sequential()

# Adding the input layer and the first hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))
regressor.add(Dropout(0.2))

# Adding the second hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))


# Adding the third hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the fourth hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the fifth hidden layer
regressor.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units = 2, kernel_initializer = 'uniform', activation = 'linear'))
regressor.add(Dropout(0.2))


# Compiling the ANN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['mae'])

In [69]:
regressor.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
37486/37486 [==============================] - 6s 156us/step - loss: 3079.0641 - mean_absolute_error: 38.9370
Epoch 2/100
37486/37486 [==============================] - 5s 138us/step - loss: 2183.3704 - mean_absolute_error: 29.4813
Epoch 3/100
37486/37486 [==============================] - 5s 139us/step - loss: 2113.8292 - mean_absolute_error: 28.0879
Epoch 4/100
37486/37486 [==============================] - 5s 138us/step - loss: 2062.3820 - mean_absolute_error: 26.9741
Epoch 5/100
37486/37486 [==============================] - 6s 149us/step - loss: 2042.9172 - mean_absolute_error: 26.1474
Epoch 6/100
37486/37486 [==============================] - 6s 157us/step - loss: 1974.7129 - mean_absolute_error: 25.0888
Epoch 7/100
37486/37486 [==============================] - 5s 142us/step - loss: 1953.4822 - mean_absolute_error: 24.3735
Epoch 8/100
37486/37486 [==============================] - 5s 140us/step - loss: 1920.7610 - mean_absolute_error: 23.8699
Epoch 9/100
37486/37486 [==============================] - 5s 141us/step - loss: 1948.4027 - mean_absolute_error: 23.7783
Epoch 10/100
37486/37486 [==============================] - 5s 138us/step - loss: 1927.4319 - mean_absolute_error: 23.5600
Epoch 11/100
37486/37486 [==============================] - 5s 139us/step - loss: 1937.9381 - mean_absolute_error: 23.3781
Epoch 12/100
37486/37486 [==============================] - 5s 140us/step - loss: 1927.6534 - mean_absolute_error: 23.0921
Epoch 13/100
37486/37486 [==============================] - 5s 139us/step - loss: 1926.0867 - mean_absolute_error: 22.8473
Epoch 14/100
37486/37486 [==============================] - 5s 145us/step - loss: 1874.0160 - mean_absolute_error: 22.3034
Epoch 15/100
37486/37486 [==============================] - 5s 146us/step - loss: 1908.0757 - mean_absolute_error: 22.3433
Epoch 16/100
37486/37486 [==============================] - 5s 140us/step - loss: 1885.3570 - mean_absolute_error: 21.9708
Epoch 17/100
37486/37486 [==============================] - 6s 153us/step - loss: 1854.3314 - mean_absolute_error: 21.5329
Epoch 18/100
37486/37486 [==============================] - 6s 159us/step - loss: 1863.2434 - mean_absolute_error: 21.4319
Epoch 19/100
37486/37486 [==============================] - 6s 158us/step - loss: 1879.0141 - mean_absolute_error: 21.5597
Epoch 20/100
37486/37486 [==============================] - 6s 154us/step - loss: 1869.0198 - mean_absolute_error: 21.3581
Epoch 21/100
37486/37486 [==============================] - 6s 148us/step - loss: 1828.2211 - mean_absolute_error: 20.8978
Epoch 22/100
37486/37486 [==============================] - 5s 145us/step - loss: 1844.5120 - mean_absolute_error: 20.9785
Epoch 23/100
37486/37486 [==============================] - 6s 152us/step - loss: 1845.1729 - mean_absolute_error: 20.9161
Epoch 24/100
37486/37486 [==============================] - 5s 143us/step - loss: 1846.7086 - mean_absolute_error: 20.7792
Epoch 25/100
37486/37486 [==============================] - 5s 144us/step - loss: 1835.7895 - mean_absolute_error: 20.5939
Epoch 26/100
37486/37486 [==============================] - 5s 144us/step - loss: 1823.3510 - mean_absolute_error: 20.4005
Epoch 27/100
37486/37486 [==============================] - 5s 140us/step - loss: 1830.2588 - mean_absolute_error: 20.4608
Epoch 28/100
37486/37486 [==============================] - 5s 146us/step - loss: 1809.0793 - mean_absolute_error: 20.1508
Epoch 29/100
37486/37486 [==============================] - 6s 157us/step - loss: 1827.7433 - mean_absolute_error: 20.2019
Epoch 30/100
37486/37486 [==============================] - 7s 194us/step - loss: 1808.4774 - mean_absolute_error: 19.9520
Epoch 31/100
37486/37486 [==============================] - 7s 184us/step - loss: 1824.3542 - mean_absolute_error: 19.9610 2s - loss: 1846.0344 - mean_abso - ETA: 1s - loss: 1838.1409 - mean_abs
Epoch 32/100
37486/37486 [==============================] - 6s 149us/step - loss: 1763.3506 - mean_absolute_error: 19.3479
Epoch 33/100
37486/37486 [==============================] - 6s 149us/step - loss: 1792.6578 - mean_absolute_error: 19.4869
Epoch 34/100
37486/37486 [==============================] - 6s 153us/step - loss: 1816.8234 - mean_absolute_error: 19.5897
Epoch 35/100
37486/37486 [==============================] - 6s 163us/step - loss: 1778.4894 - mean_absolute_error: 19.2062
Epoch 36/100
37486/37486 [==============================] - 6s 173us/step - loss: 1786.7636 - mean_absolute_error: 19.0856
Epoch 37/100
37486/37486 [==============================] - 6s 160us/step - loss: 1804.6927 - mean_absolute_error: 19.2055
Epoch 38/100
37486/37486 [==============================] - 6s 154us/step - loss: 1759.8751 - mean_absolute_error: 18.7033
Epoch 39/100
37486/37486 [==============================] - 6s 152us/step - loss: 1775.3028 - mean_absolute_error: 18.7141
Epoch 40/100
37486/37486 [==============================] - 6s 148us/step - loss: 1763.5666 - mean_absolute_error: 18.4997
Epoch 41/100
37486/37486 [==============================] - 5s 146us/step - loss: 1773.7944 - mean_absolute_error: 18.4417
Epoch 42/100
37486/37486 [==============================] - 6s 149us/step - loss: 1806.5200 - mean_absolute_error: 18.6317
Epoch 43/100
37486/37486 [==============================] - 6s 156us/step - loss: 1747.2582 - mean_absolute_error: 18.0655
Epoch 44/100
37486/37486 [==============================] - 5s 145us/step - loss: 1736.0630 - mean_absolute_error: 17.8632
Epoch 45/100
37486/37486 [==============================] - 6s 150us/step - loss: 1754.1688 - mean_absolute_error: 17.8948
Epoch 46/100
37486/37486 [==============================] - 6s 171us/step - loss: 1772.5190 - mean_absolute_error: 17.8974
Epoch 47/100
37486/37486 [==============================] - 6s 157us/step - loss: 1762.4126 - mean_absolute_error: 17.6964
Epoch 48/100
37486/37486 [==============================] - 6s 149us/step - loss: 1751.1622 - mean_absolute_error: 17.5214
Epoch 49/100
37486/37486 [==============================] - 6s 148us/step - loss: 1749.5618 - mean_absolute_error: 17.3702
Epoch 50/100
37486/37486 [==============================] - 6s 147us/step - loss: 1731.0326 - mean_absolute_error: 17.1077
Epoch 51/100
37486/37486 [==============================] - 6s 148us/step - loss: 1770.0614 - mean_absolute_error: 17.2778
Epoch 52/100
37486/37486 [==============================] - 5s 144us/step - loss: 1745.2758 - mean_absolute_error: 16.9897
Epoch 53/100
37486/37486 [==============================] - 6s 147us/step - loss: 1760.5750 - mean_absolute_error: 16.9496
Epoch 54/100
37486/37486 [==============================] - 6s 147us/step - loss: 1764.1152 - mean_absolute_error: 16.8882
Epoch 55/100
37486/37486 [==============================] - 5s 146us/step - loss: 1740.8636 - mean_absolute_error: 16.5690
Epoch 56/100
37486/37486 [==============================] - 6s 147us/step - loss: 1751.7996 - mean_absolute_error: 16.6243
Epoch 57/100
37486/37486 [==============================] - 6s 157us/step - loss: 1732.9267 - mean_absolute_error: 16.3946
Epoch 58/100
37486/37486 [==============================] - 5s 142us/step - loss: 1747.3765 - mean_absolute_error: 16.5482
Epoch 59/100
37486/37486 [==============================] - 6s 149us/step - loss: 1770.6142 - mean_absolute_error: 16.6623
Epoch 60/100
37486/37486 [==============================] - 6s 153us/step - loss: 1738.3696 - mean_absolute_error: 16.4045
Epoch 61/100
37486/37486 [==============================] - 6s 163us/step - loss: 1751.4203 - mean_absolute_error: 16.5868
Epoch 62/100
37486/37486 [==============================] - 6s 171us/step - loss: 1772.3397 - mean_absolute_error: 16.7067
Epoch 63/100
37486/37486 [==============================] - 7s 174us/step - loss: 1744.6250 - mean_absolute_error: 16.4958
Epoch 64/100
37486/37486 [==============================] - 6s 171us/step - loss: 1753.0131 - mean_absolute_error: 16.5420
Epoch 65/100
37486/37486 [==============================] - 7s 181us/step - loss: 1750.8002 - mean_absolute_error: 16.5300
Epoch 66/100
37486/37486 [==============================] - 7s 182us/step - loss: 1704.3217 - mean_absolute_error: 16.1541
Epoch 67/100

37486/37486 [==============================] - 7s 174us/step - loss: 1770.5318 - mean_absolute_error: 16.6898
Epoch 68/100
37486/37486 [==============================] - 7s 184us/step - loss: 1760.1807 - mean_absolute_error: 16.6230
Epoch 69/100
37486/37486 [==============================] - 6s 169us/step - loss: 1755.8558 - mean_absolute_error: 16.5847
Epoch 70/100
37486/37486 [==============================] - 6s 166us/step - loss: 1773.0166 - mean_absolute_error: 16.7252
Epoch 71/100
37486/37486 [==============================] - 6s 167us/step - loss: 1735.5171 - mean_absolute_error: 16.3787
Epoch 72/100
37486/37486 [==============================] - 6s 164us/step - loss: 1775.6275 - mean_absolute_error: 16.7381
Epoch 73/100
37486/37486 [==============================] - 6s 166us/step - loss: 1752.0796 - mean_absolute_error: 16.5675
Epoch 74/100
37486/37486 [==============================] - 6s 167us/step - loss: 1755.9174 - mean_absolute_error: 16.5875
Epoch 75/100
37486/37486 [==============================] - 6s 147us/step - loss: 1743.8198 - mean_absolute_error: 16.4682
Epoch 76/100
37486/37486 [==============================] - 5s 146us/step - loss: 1785.3717 - mean_absolute_error: 16.8675
Epoch 77/100
37486/37486 [==============================] - 5s 142us/step - loss: 1776.7518 - mean_absolute_error: 16.7844
Epoch 78/100
37486/37486 [==============================] - 5s 147us/step - loss: 1774.8429 - mean_absolute_error: 16.7380
Epoch 79/100
37486/37486 [==============================] - 5s 144us/step - loss: 1773.8991 - mean_absolute_error: 16.6718
Epoch 80/100
37486/37486 [==============================] - 5s 144us/step - loss: 1753.3852 - mean_absolute_error: 16.5837
Epoch 81/100
37486/37486 [==============================] - 5s 144us/step - loss: 1765.9224 - mean_absolute_error: 16.6492
Epoch 82/100
37486/37486 [==============================] - 5s 144us/step - loss: 1745.9053 - mean_absolute_error: 16.5373 1s - loss: 173
Epoch 83/100
37486/37486 [==============================] - 5s 143us/step - loss: 1757.3999 - mean_absolute_error: 16.6168
Epoch 84/100
37486/37486 [==============================] - 5s 143us/step - loss: 1758.7385 - mean_absolute_error: 16.5923
Epoch 85/100
37486/37486 [==============================] - 5s 142us/step - loss: 1750.7163 - mean_absolute_error: 16.5997
Epoch 86/100
37486/37486 [==============================] - 5s 141us/step - loss: 1751.0870 - mean_absolute_error: 16.4902
Epoch 87/100
37486/37486 [==============================] - 5s 143us/step - loss: 1745.6190 - mean_absolute_error: 16.4742
Epoch 88/100
37486/37486 [==============================] - 5s 143us/step - loss: 1710.3347 - mean_absolute_error: 16.2018
Epoch 89/100
37486/37486 [==============================] - 5s 145us/step - loss: 1734.0468 - mean_absolute_error: 16.3535
Epoch 90/100
37486/37486 [==============================] - 5s 143us/step - loss: 1749.2544 - mean_absolute_error: 16.5021
Epoch 91/100
37486/37486 [==============================] - 5s 144us/step - loss: 1753.4683 - mean_absolute_error: 16.5251
Epoch 92/100
37486/37486 [==============================] - 5s 144us/step - loss: 1742.0896 - mean_absolute_error: 16.4974
Epoch 93/100
37486/37486 [==============================] - 5s 144us/step - loss: 1736.3275 - mean_absolute_error: 16.4028
Epoch 94/100
37486/37486 [==============================] - 5s 144us/step - loss: 1765.0810 - mean_absolute_error: 16.6696
Epoch 95/100
37486/37486 [==============================] - 5s 145us/step - loss: 1732.3709 - mean_absolute_error: 16.3964
Epoch 96/100
37486/37486 [==============================] - 5s 144us/step - loss: 1751.8626 - mean_absolute_error: 16.6145
Epoch 97/100
37486/37486 [==============================] - 5s 143us/step - loss: 1734.2640 - mean_absolute_error: 16.4002
Epoch 98/100
37486/37486 [==============================] - 5s 144us/step - loss: 1770.4256 - mean_absolute_error: 16.7077
Epoch 99/100
37486/37486 [==============================] - 5s 145us/step - loss: 1731.3982 - mean_absolute_error: 16.4344
Epoch 100/100
37486/37486 [==============================] - 5s 142us/step - loss: 1765.1841 - mean_absolute_error: 16.6358

In [81]:
y_pred = regressor.predict(X_test)
y_pred

array([[ 29.993248, 101.56168 ],
       [ 29.993248, 101.56168 ],
       [ 29.993248, 101.56168 ],
       ...,
       [ 29.993248, 101.56168 ],
       [ 29.993248, 101.56168 ],
       [ 29.993248, 101.56168 ]], dtype=float32)

In [76]:
prediction = pd.DataFrame({'house_lat': y_test[:, 0],'house_lon':y_test[:, 1],
                            'house_lat (pred)': y_pred[:,0], 'house_lon (pred)': y_pred[:,1]})

In [80]:
prediction

      house_lat   house_lon  house_lat (pred)  house_lon (pred)
0     37.659566  127.290684         29.993248        101.561684
1     37.641428  127.117536         29.993248        101.561684
2     37.395435  126.643450         29.993248        101.561684
3     37.482575  126.787853         29.993248        101.561684
4     37.534409  127.075573         29.993248        101.561684
5     37.549305  126.972045         29.993248        101.561684
6     37.278509  127.483728         29.993248        101.561684
7     37.566416  126.674294         29.993248        101.561684
8     37.399451  126.944539         29.993248        101.561684
9     37.587749  127.058709         29.993248        101.561684
10    37.731137  127.060382         29.993248        101.561684
11    36.990472  127.094676         29.993248        101.561684
12    37.964290  127.324270         29.993248        101.561684
13    37.302189  126.860258         29.993248        101.561684
14    37.464511  126.931765         29.993248        101.561684
15    37.598839  126.728499         29.993248        101.561684
16    37.613633  127.095137         29.993248        101.561684
17    37.593378  126.943204         29.993248        101.561684
18    37.518515  126.862416         29.993248        101.561684
19    37.444351  126.891879         29.993248        101.561684
20    37.541278  127.380255         29.993248        101.561684
21    37.551327  127.130473         29.993248        101.561684
22    37.206428  127.057727         29.993248        101.561684
23    37.487899  126.956180         29.993248        101.561684
24    37.642764  127.156009         29.993248        101.561684
25    37.572537  126.822551         29.993248        101.561684
26    37.738519  127.417374         29.993248        101.561684
27    37.287654  127.032468         29.993248        101.561684
28    37.491117  126.767127         29.993248        101.561684
29    37.278779  127.072060         29.993248        101.561684
...         ...         ...               ...               ...
9342  37.603797  127.106710         29.993248        101.561684
9343  37.641104  127.015819         29.993248        101.561684
9344  37.114506  127.618425         29.993248        101.561684
9345  37.459417  126.735693         29.993248        101.561684
9346  37.502121  126.717672         29.993248        101.561684
9347  37.004323  127.296154         29.993248        101.561684
9348  37.293985  127.028386         29.993248        101.561684
9349  37.587504  127.075465         29.993248        101.561684
9350  37.567422  127.061327         29.993248        101.561684
9351  37.388089  126.932200         29.993248        101.561684
9352  37.661493  126.786388         29.993248        101.561684
9353  37.158088  127.060422         29.993248        101.561684
9354  37.648342  127.112212         29.993248        101.561684
9355  37.609030  126.921730         29.993248        101.561684
9356  37.506825  126.943159         29.993248        101.561684
9357  37.648985  127.192608         29.993248        101.561684
9358  37.768401  126.771799         29.993248        101.561684
9359  37.413203  126.946637         29.993248        101.561684
9360  37.346812  126.940034         29.993248        101.561684
9361  37.419232  127.539998         29.993248        101.561684
9362  36.999473  127.096814         29.993248        101.561684
9363  37.609970  127.142124         29.993248        101.561684
9364  37.459163  126.883771         29.993248        101.561684
9365  37.717441  127.176631         29.993248        101.561684
9366  37.667590  127.113164         29.993248        101.561684
9367  37.596088  126.702189         29.993248        101.561684
9368  37.481570  126.927330         29.993248        101.561684
9369  37.534539  126.972384         29.993248        101.561684
9370  37.565967  127.004238         29.993248        101.561684
9371  37.628982  127.017566         29.993248        101.561684

[9372 rows x 4 columns]